#barra {
    width: 75%;
    height: 79px;
    position: relative;
    background-color: #0cccf4;
    float: left;
    margin-left: 3%;
}

#lista li {
    display: inline-block;
    padding-top: 2%;
    padding-left: 8%;
}

.text {
    color: white;
    font-size: 18px;
}

.text1 {
    color: blue;
    font-size: 18px;
}

#salir {
    background-color: blue;
    color: white;
    width: 80px;
}

@media (min-width:0px) and (max-width: 576px) {
    #barra {
        width: 73%;
        height: 70px;
        position: relative;
        background-color: #0cccf4;
        float: left;
    }
    #lista li {
        display: inline-block;
        padding-top: 2%;
        padding-left: 1%;
    }
    .text {
        color: white;
        font-size: 10px;
    }
    .text1 {
        color: blue;
        font-size: 10px;
    }
    #salir {
        background-color: blue;
        color: white;
        width: 50px;
        height: 25px;
        font-size: 10px;
        margin-left: 50%;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    #barra {
        width: 75%;
        height: 69px;
        position: relative;
        background-color: #0cccf4;
        float: left;
        margin-left: 3%;
    }
    #lista li {
        display: inline-block;
        padding-top: 3%;
        padding-left: 4%;
    }
    .text {
        color: white;
        font-size: 13px;
    }
    .text1 {
        color: blue;
        font-size: 13px;
    }
    #salir {
        background-color: blue;
        color: white;
        width: 54px;
        height: 26px;
        font-size: 13px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #barra {
        width: 75%;
        height: 69px;
        position: relative;
        background-color: #0cccf4;
        float: left;
        margin-left: 3%;
    }
    #lista li {
        display: inline-block;
        padding-top: 2%;
        padding-left: 6%;
    }
    .text {
        color: white;
        font-size: 15px;
    }
    .text1 {
        color: blue;
        font-size: 15px;
    }
    #salir {
        background-color: blue;
        color: white;
        width: 75px;
        height: 28px;
        font-size: 15px;
    }
}