    #footer {
        width: 73.7%;
        height: 79px;
        position: absolute;
        top: 540px;
        left: 23.5%;
    }
    
    #caja {
        width: 23%;
        display: block;
        margin: auto;
        margin-top: 2%;
    }
    
    #fot {
        font-size: 20px;
    }
    
    #img {
        width: 50px;
    }
    
    @media (min-width:0px) and (max-width: 576px) {
        #footer {
            width: 68.2%;
            height: 70px;
            position: absolute;
            top: 480px;
            left: 29%;
        }
        #caja {
            width: 45%;
            display: block;
            margin: auto;
            margin-top: 6%;
        }
        #fot {
            font-size: 10px;
        }
        #img {
            width: 30px;
        }
    }
    
    @media (min-width:577px) and (max-width: 768px) {
        #footer {
            width: 69%;
            height: 70px;
            position: absolute;
            top: 480px;
            left: 28.5%;
        }
        #caja {
            width: 27%;
            display: block;
            margin: auto;
            margin-top: 3%;
        }
        #fot {
            font-size: 13px;
        }
        #img {
            width: 35px;
        }
    }
    
    @media (min-width: 769px) and (max-width: 1024px) {
        #footer {
            width: 71%;
            height: 70px;
            position: absolute;
            top: 480px;
            left: 27.8%;
        }
        #caja {
            width: 24%;
            display: block;
            margin: auto;
            margin-top: 2%;
        }
        #fot {
            font-size: 15px;
        }
        #img {
            width: 40px;
        }
    }