#contenido {
    width: 75%;
    height: 450px;
    position: absolute;
    top: 14%;
    left: 23.5%;
}

#ptitulo {
    width: 98%;
    height: 60px;
    background-color: #0ccdf444;
}

#titulo {
    width: 20%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1%;
}

#subtitulo {
    width: 98.1%;
    height: 40px;
}

.sub1 {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    padding-top: 0.5%;
    background-color: rgba(238, 223, 223, 0.747);
}

.sub {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    margin-left: -8px;
    text-align: center;
    padding-top: 0.5%;
    background-color: rgba(238, 223, 223, 0.747);
}

#informacion {
    width: 100%;
    height: 295px;
    overflow: scroll;
    overflow-x: hidden;
}

#infor {
    margin-left: -1px;
    width: 101%;
    height: 40px;
}

.info1 {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    padding-top: 0.5%;
    margin-left: 1px;
}

.info {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    margin-left: -8px;
    text-align: center;
    padding-top: 0.5%;
    margin-top: 2px;
}

.inpt1 {
    width: 98%;
    height: 38px;
    margin-top: -6px;
    text-align: center;
}

.inpt {
    width: 98%;
    height: 38px;
    margin-top: -6px;
    margin-left: -5px;
    text-align: center;
}

#opciones {
    width: 98%;
    height: 60px;
}

.opcion {
    display: inline-flex;
    height: 58px;
    width: 33%;
}

.opc {
    background-color: #0cccf4;
    height: 40px;
    margin-top: 10px;
    color: white;
    width: 140px;
}

.ico {
    margin-left: 3px;
    margin-top: -4px;
    width: 18px;
}

@media (min-width:0px) and (max-width: 576px) {
    #contenido {
        width: 69%;
        height: 450px;
        position: absolute;
        top: 14%;
        left: 29.2%;
    }
    #ptitulo {
        width: 98%;
        height: 35px;
        background-color: #0ccdf444;
    }
    #tamaño {
        font-size: 18px;
    }
    #tamaño1 {
        font-size: 11px;
    }
    #titulo {
        width: 20%;
        text-align: center;
        display: block;
        margin: auto;
        padding-top: 1%;
    }
    #subtitulo {
        width: 101%;
        height: 35px;
    }
    .sub1 {
        width: 25.2%;
        height: 40px;
        display: inline-flex;
        padding-top: 0.5%;
        background-color: rgba(238, 223, 223, 0.747);
        font-size: 12px;
    }
    .sub {
        width: 25.2%;
        height: 40px;
        display: inline-flex;
        margin-left: -8px;
        text-align: center;
        padding-top: 0.5%;
        background-color: rgba(238, 223, 223, 0.747);
        font-size: 12px;
    }
    #informacion {
        width: 100%;
        height: 295px;
        overflow: scroll;
        overflow-x: hidden;
    }
    #infor {
        margin-left: -1px;
        width: 100%;
        height: 40px;
    }
    .info1 {
        width: 25.2%;
        height: 38px;
        display: inline-flex;
        padding-top: 0.5%;
        margin-left: 1px;
    }
    .info {
        width: 25%;
        height: 38px;
        display: inline-flex;
        margin-left: -8px;
        text-align: center;
        padding-top: 0.5%;
        margin-top: 2px;
    }
    .inpt1 {
        width: 245px;
        height: 35px;
        margin-top: -6px;
        font-size: 12px;
    }
    .inpt {
        width: 248px;
        height: 35px;
        margin-top: -6px;
        margin-left: -3px;
        font-size: 12px;
    }
    #opciones {
        width: 100%;
        height: 50px;
    }
    .opcion {
        display: inline-flex;
        height: 48px;
        width: 32%;
    }
    .opc {
        background-color: #0cccf4;
        height: 25px;
        margin-top: 10px;
        color: white;
        width: 90px;
        font-size: 12px;
    }
    .ico {
        margin-left: 4px;
        margin-top: -4px;
        width: 11px;
    }
}