#contenido {
    width: 73.5%;
    height: 440px;
    position: absolute;
    top: 14%;
    left: 23.5%;
}

#actualizacion {
	width: 100%;
    height: 60px;
    margin-top: 10%;
    display: inline-flex;
}

#actualizacion2 {
    width: 100%;
    height: 60px;
    margin-top: 2%;
    display: inline-flex;
}

#consulta {
    width: 60%;
    height: 40px;
    margin-left: 10%;
    margin-top: 1%;
}

#buscar {
    width: 100%;
    height: 39px;
    background-color: #0cccf4;
    color: white;
}

#busca {
    width: 10%;
    height: 39px;
    margin-top: 1%;
    margin-left: 5%;
}

#buscar:hover {
    background-color: white;
    color: #0cccf4;
}

@media (min-width:0px) and (max-width: 576px) {
    #contenido {
        width: 68%;
        height: 400px;
        position: absolute;
        top: 14%;
        left: 29.2%;
    }
    #actualizacion {
        width: 100%;
        height: 40px;
        margin-top: 2%;
        display: inline-flex;
    }
    #consulta {
        width: 64%;
        height: 25px;
        margin-left: 5%;
        margin-top: 1%;
        font-size: 11px;
    }
    #buscar {
        width: 100%;
        height: 25px;
        background-color: #0cccf4;
        color: white;
        font-size: 11px;
    }
    #busca {
        width: 20%;
        height: 25px;
        margin-left: 5%;
    }
    #buscar:hover {
        background-color: white;
        color: #0cccf4;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    #contenido {
        width: 70.5%;
        height: 400px;
        position: absolute;
        top: 14%;
        left: 28%;
    }
    #actualizacion {
        width: 100%;
        height: 50px;
        margin-top: 2%;
        display: inline-flex;
    }
    #consulta {
        width: 60%;
        height: 32px;
        margin-left: 10%;
        margin-top: 1%;
        font-size: 15px;
    }
    #buscar {
        width: 100%;
        height: 32px;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    #busca {
        width: 15%;
        height: 32px;
        margin-left: 5%;
    }
    #buscar:hover {
        background-color: white;
        color: #0cccf4;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    #contenido {
        width: 71%;
        height: 400px;
        position: absolute;
        top: 14%;
        left: 27.8%;
    }
    #actualizacion {
        width: 100%;
        height: 50px;
        margin-top: 2%;
        display: inline-flex;
    }
    #consulta {
        width: 60%;
        height: 32px;
        margin-left: 10%;
        margin-top: 1%;
        font-size: 15px;
    }
    #buscar {
        width: 100%;
        height: 32px;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    #busca {
        width: 15%;
        height: 32px;
        margin-left: 5%;
    }
    #buscar:hover {
        background-color: white;
        color: #0cccf4;
    }
}