#contenido {
	width: 73.6%;
    height: 450px;
    position: absolute;
    top: 14%;
    left: 1%;
}

#ptitulo {
	
    width: 98%;
    height: 60px;
    background-color: #0ccdf444;
}

#titulo {
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1%;
}

#subtitulo {
	
    width: 98.1%;
    height: 40px;
}

.sub1 {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    padding-top: 0.5%;
    background-color: rgba(238, 223, 223, 0.747);
}

.sub {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    margin-left: -8px;
    text-align: center;
    padding-top: 0.5%;
    background-color: rgba(238, 223, 223, 0.747);
}

#informacion {
    width: 100%;
    height: 295px;
    overflow: scroll;
    overflow-x: hidden;
}

#infor {
    margin-left: -1px;
    width: 99.5%;
    height: 40px;
}

.info1 {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    padding-top: 0.5%;
    margin-left: 1px;
}

.info {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    margin-left: -8px;
    text-align: center;
    padding-top: 0.5%;
    margin-top: 2px;
}

.inpt1 {
    width: 98%;
    height: 38px;
    margin-top: -6px;
    text-align: center;
}

.inpt {
    width: 98%;
    height: 38px;
    margin-top: -6px;
    margin-left: -5px;
    text-align: center;
}

#opciones {
	
    width: 98%;
    height: 60px;
    margin-top: -4%;
}

.opcion {
    display: inline-flex;
    height: 58px;
    width: 33%;
}

.opc {
    background-color: #0cccf4;
    height: 40px;
    margin-top: 10px;
    color: white;
    width: 140px;
}

.ico {
    margin-left: 3px;
    margin-top: -4px;
    width: 18px;
}


@media (min-width: 1024px) and (max-width: 1439px) {
    #contenido {
        width: 73.5%;
        height: 450px;
        position: absolute;
        top: 14%;
        left: 23.5%;
    }
    #ptitulo {
        width: 100%;
        height: 45px;
        padding-left: 100px;
        background-color: #0ccdf444;
        align-self: center;
    }
    #tamaño {
        font-size: 23px;
    }
    #tamaño1 {
        font-size: 11px;
    }
    #titulo {
        width: 100%;
        text-align: center;
        display: block;
        margin: auto;
        padding-top: 1%;
    }

    #subtitulo {
        width: 100%;
        height: 35px;
    }
	.sub1 {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    padding-top: 0.5%;
    background-color: rgba(238, 223, 223, 0.747);
}

	.sub {
    width: 33.5%;
    height: 40px;
    display: inline-flex;
    margin-left: -8px;
    text-align: center;
    padding-top: 0.5%;
    background-color: rgba(238, 223, 223, 0.747);
}
    #informacion {
        width: 100%;
        height: 295px;
        overflow: scroll;
        overflow-x: hidden;
    }
    #infor {
        margin-left: -1px;
        width: 100%;
        height: 40px;
    }
    .info1 {
        width: 33.5%;
        height: 38px;
        display: inline-flex;
        padding-top: 2%;
        
    }
    .info {
        width: 32.7%;
        height: 38px;
        display: inline-flex;
        margin-left: -1px;
        text-align: center;
        padding-top: 2%;
        margin-top: 2px;
    }
    .inpt1 {
    width: 100%;
    height: 38px;
    margin-top: -8px;
    text-align: center;
}

.inpt {
    width: 100%;
    height: 38px;
    margin-left: 2px;
  }
    #opciones {
        width: 100%;
        height: 50px;
    }
    .opcion {
        display: inline-flex;
        height: 48px;
        width: 32%;
    }
    .opc {
        background-color: #0cccf4;
        height: 35px;
        margin-top: 6px;
        color: white;
        width: 120px;
        font-size: 15px;
        margin-left: 10%;
    }
    .ico {
        margin-left: 4px;
        margin-top: -4px;
        width: 15px;
    }
}