#contenido {
    width: 73.5%;
    height: 440px;
    position: absolute;
    top: 14%;
    left: 23.5%;
}

#datos {
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
}

#datosh {
    width: 100%;
    display: inline-flex;
}

.spa {
    margin-top: 2%;
    margin-left: 10%;
    width: 20%;
    background-color: #0cccf4;
    color: white;
}

.texto {
    width: 51%;
    height: 30px;
    margin-top: 2%;
    margin-left: 6%;
}

#actualizacion {
    width: 100%;
    height: 60px;
    margin-top: 1%;
    display: inline-flex;
}

#consulta {
    width: 60%;
    height: 40px;
    margin-left: 10%;
    margin-top: 1%;
}

#buscar {
    width: 100%;
    height: 39px;
    background-color: #0cccf4;
    color: white;
}

#busca {
    width: 10%;
    height: 39px;
    margin-top: 1%;
    margin-left: 5%;
}

#buscar:hover {
    background-color: white;
    color: #0cccf4;
}

#botones {
    display: inline-flex;
    width: 100%;
    margin-top: 1.5%;
}

#reinicio {
    width: 130px;
    height: 30px;
    background-color: #0cccf4;
    color: white;
}

#reinicio:hover {
    background-color: white;
    color: #0cccf4;
}

#botonizq {
    width: 130px;
    display: block;
    margin: auto;
}

#botonder {
    width: 130px;
    display: block;
    margin: auto;
}

#botoncent {
    width: 130px;
    display: block;
    margin: auto;
}

@media (min-width:0px) and (max-width: 576px) {
    #contenido {
        width: 68%;
        height: 440px;
        position: absolute;
        top: 14%;
        left: 29.2%;
    }
    #datos {
        width: 100%;
        height: 300px;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 30px;
    }
    #datosh {
        width: 100%;
        display: inline-flex;
    }
    .spa {
        margin-top: 2%;
        margin-left: 5%;
        width: 35%;
        background-color: #0cccf4;
        color: white;
        font-size: 10px;
    }
    .texto {
        width: 51%;
        height: 30px;
        margin-top: 2%;
        margin-left: 5%;
    }
    #actualizacion {
        width: 100%;
        height: 60px;
        margin-top: 1%;
        display: inline-flex;
    }
    #consulta {
        width: 60%;
        height: 30px;
        margin-left: 10%;
        margin-top: 1%;
        font-size: 11px;
    }
    #buscar {
        width: 100%;
        height: 30px;
        background-color: #0cccf4;
        color: white;
        font-size: 11px;
    }
    #busca {
        width: 20%;
        height: 39px;
        margin-top: 1%;
        margin-left: 5%;
    }
    #buscar:hover {
        background-color: white;
        color: #0cccf4;
    }
    #botones {
        display: inline-flex;
        width: 100%;
        margin-top: 5%;
    }
    #reinicio {
        width: 70px;
        
        background-color: #0cccf4;
        color: white;
        font-size: 11px;
    }
    #reinicio:hover {
        background-color: white;
        color: #0cccf4;
    }
    #botonizq {
        width: 70px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 70px;
        display: block;
        margin: auto;
    }
    #botoncent {
        width: 70px;
        display: block;
        margin: auto;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    #contenido {
        width: 70.5%;
        height: 415px;
        position: absolute;
        top: 14%;
        left: 28%;
    }
    #datos {
        width: 100%;
        height: 300px;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 30px;
    }
    #datosh {
        width: 100%;
        display: inline-flex;
    }
    .spa {
        margin-top: 2%;
        margin-left: 7%;
        width: 30%;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    .texto {
        width: 54%;
        height: 30px;
        margin-top: 2%;
        margin-left: 5%;
    }
    #actualizacion {
        width: 100%;
        height: 60px;
        margin-top: 1%;
        display: inline-flex;
    }
    #consulta {
        width: 60%;
        height: 40px;
        margin-left: 10%;
        margin-top: 1%;
        font-size: 15px;
    }
    #buscar {
        width: 100%;
        height: 40px;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    #busca {
        width: 20%;
        height: 39px;
        margin-top: 1%;
        margin-left: 5%;
    }
    #buscar:hover {
        background-color: white;
        color: #0cccf4;
    }
    #botones {
        display: inline-flex;
        width: 100%;
        margin-top: 1.5%;
    }
    #reinicio {
        width: 95px;
        height: 30px;
        background-color: #0cccf4;
        color: white;
        font-size: 13px;
    }
    #reinicio:hover {
        background-color: white;
        color: #0cccf4;
    }
    #botonizq {
        width: 95px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 95px;
        display: block;
        margin: auto;
    }
    #botoncent {
        width: 95px;
        display: block;
        margin: auto;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    #contenido {
        width: 71%;
        height: 415px;
        position: absolute;
        top: 14%;
        left: 27.8%;
    }
    #datos {
        width: 100%;
        height: 300px;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 30px;
    }
    #datosh {
        width: 100%;
        display: inline-flex;
    }
    .spa {
        margin-top: 2%;
        margin-left: 7%;
        width: 30%;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    .texto {
        width: 54%;
        height: 30px;
        margin-top: 2%;
        margin-left: 5%;
    }
    #actualizacion {
        width: 100%;
        height: 60px;
        margin-top: 1%;
        display: inline-flex;
    }
    #consulta {
        width: 60%;
        height: 40px;
        margin-left: 10%;
        margin-top: 1%;
        font-size: 15px;
    }
    #buscar {
        width: 100%;
        height: 40px;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    #busca {
        width: 20%;
        height: 39px;
        margin-top: 1%;
        margin-left: 5%;
    }
    #buscar:hover {
        background-color: white;
        color: #0cccf4;
    }
    #botones {
        display: inline-flex;
        width: 100%;
        margin-top: 1%;
    }
    #reinicio {
        width: 95px;
        height: 30px;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    #reinicio:hover {
        background-color: white;
        color: #0cccf4;
    }
    #botonizq {
        width: 95px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 95px;
        display: block;
        margin: auto;
    }
    #botoncent {
        width: 95px;
        display: block;
        margin: auto;
    }
}