<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/styles/css general/Fondo.css}" rel="stylesheet" >
    <link th:href="@{/styles/recursos/avanzar.ico}"rel="icon" >
    <link th:href="@{/styles/css general/Menu-lateral.css}" rel="stylesheet" >
    <link th:href="@{/styles/css general/Barra-Superior.css}" rel="stylesheet" >
    <link th:href="@{/styles/css general/footer.css}"rel="stylesheet" >
    <link th:href="@{/styles/css-consultas(cliente)/contenido.css}"rel="stylesheet" >


</head>

<body>

    <div class="container-fluid">
        <!--Menu lateral izquierdo-->
        <div id="contenedor">

            <div class="menu shadow">

                    <div>

                        <a href="#" class="opciones active list-group-item list-group-item-action text-center">
                            Consultas </a>

                    </div>
                    
                    <form name="regForm" th:action="@{/registrar}" >
                    <a href="javascript: document.regForm.submit()" class="opciones list-group-item list-group-item-action text-center ">
                        Registro usuario</a>
                    </form>
                    
                    <form name="regclient" th:action="@{/registrarClientes}">
                    <a href="javascript: document.regclient.submit()" class="opciones list-group-item list-group-item-action text-center">
                        Registro nuevo cliente</a>
                    </form>   
					<form name="actform" th:action="@{/Actualizacion}">
                    <a href="javascript: document.actform.submit()" class="opciones list-group-item list-group-item-action text-center">
                        Actualizaciones</a>
                    </form>    
					
					<form name="pagEps" th:action="@{/paginaEps}">
                    <a href="javascript: document.pagEps.submit()" class="opciones list-group-item list-group-item-action text-center">
                    EPS</a>
					</form>
					
					<form name="pagArl" th:action="@{/paginaArl}">
                    <a id="fondos" href="javascript: document.pagArl.submit()" class="opciones list-group-item list-group-item-action text-center">
                    ARL</a>
					</form>
					
					<form name="pagAfp" th:action="@{/paginaAfp}">
                    <a href="javascript: document.pagAfp.submit()" class="opciones list-group-item list-group-item-action text-center">
                    AFP</a>
					</form>

                    <form name="pagCaja" th:action="@{/paginaCaja}">
                    <a href="javascript: document.pagCaja.submit()" class="opciones list-group-item list-group-item-action text-center">Caja de
                        compensacion</a>
                    </form>
            </div>



            <!--Final del menu lateral-->

            <!--Barra Superior-->

            <div id="barra" class="shadow">
                <ul id="lista">
                    <li class="text">
                        <span><b>Bienvenido</b></span>
                    </li>
                    <li class="text1">
                        <span><b>[(${usuarios.rol.tipo_de_rol})]</b></span>
                    </li>
                    <li class="text">
                        <span><b>[(${usuarios.nombres})] [(${usuarios.apellidos})]</b></span>
                    </li>
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem">
                            <form name="logoutForm" th:action="@{/logout}" method="post" >
                            <button class="btn" id="salir" type="button" >Salir</button>
                            </form>
                        </a>
                    </li>
                </ul>

                </nav>
                <!--Fin Barra Superior-->

            </div>
        </div>

        <!--Contenido-->

        <Div id="contenido">

            <div id="datos">

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Nombre</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.nombres})]</textarea>
                </div>

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Apellidos</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.apellidos})]</textarea>
                </div>

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Tipo de documento</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.tipo_de_documento.tipo_de_documento})]</textarea>
                </div>

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Numero de documento</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.numero_de_documento})]</textarea>
                </div>

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Lugar de expedicion</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.lugar_de_expedicion})]</textarea>
                </div>

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Telefono</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.telefono})]</textarea>
                </div>

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Correo Electronico</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.correo_electronico})]</textarea>
                </div>

                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Direccion de residencia</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.direccion_de_residencia})]</textarea>
                </div>
                
                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Tipo de plan</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.planes.tipo_de_plan})]</textarea>
                </div>
                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Eps</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.eps.nombre_de_la_EPS})]</textarea>
                </div>
                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Arl</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.arl.nombre_de_la_ARL})]</textarea>
                </div>
                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Afp</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.afp.nombre_de_la_AFP})]</textarea>
                </div>
                <div id="datosh">
                    <span class="spa input-group-text justify-content-center">Caja de compensacion</span>
                    <textarea class="texto form-control text-center" aria-label="With textarea">[(${clientes.caja.nombre_de_la_Caja})]</textarea>
                </div>

            </div>

        </Div>

        <!--Fin contenido-->

        <!--Footer-->

        <div id="footer">

            <div id="caja">
                <span id="fot">© 2020 Copyright </span>
        </div>
        <!--Fin Footer-->



    </div>

</body>

</html>