<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="En">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avanzar Company</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/styles/CSS-Index/FondoIndex.css}" rel="stylesheet" >
    <link th:href="@{/styles/recursos/avanzar.ico}" rel="icon" >
    <link th:href="@{/styles/CSS-Index/BarraSuperior.css}" rel="stylesheet">
    <link th:href="@{/styles/CSS-Index/logo.css}" rel="stylesheet" >
    <link th:href="@{/styles/CSS-Index/contenido.css}" rel="stylesheet" >
</head>

<body>

    <div id="pantalla" class="container-fluid">

        <!--header-->
        <div class="row" >

            <div id="bienvenido" class="shadow bg-white" >
                <ul class="nav">
                    <li id="text" class="nav-item text-info">
                        <p><b>Bienvenido a Avanzar Company</b></p>
                    </li>
                </ul>
            </div>
        </div>
        <!--fin de header-->

        <!--Logo-->
        <div id="logoU">
            <div>
                <img id="logo" th:src="@{/styles/recursos/avanzar.png}" alt="" src="">

            </div>
        </div>
        <!--Fin de logo-->

        <!--Inputs-->
        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert text-center">
        </div>

        <form th:action="@{/login}"  th:object="${usuarios}"  method="post">
            <div id="inputs" class="container">
                <!--Input Usuario-->
                <div class="input-group mb-4">
                    <span id="span" class="bg-info shadow text-white justify-content-center input-group-text ">
                        <img style="margin-right: 10px; width: 20px; height: 20px;" th:src="@{/styles/recursos/user.png}" alt="">
                        Usuario</span>
                    <label>
                        <input id="input" class="shadow" type="text" th:field="*{usuario}" required>
                    </label>
                </div>

                <!--Input Contraseñoa-->
                <div class="input-group ">
                    <span id="span" class="bg-info shadow text-white justify-content-center input-group-text">
                        <img style="margin-right: 10px; width: 20px; height: 20px;" th:src="@{/styles/recursos/padlock.png}" alt="">
                        Contraseña</span>
                    <label>
                        <input id="input" class="shadow"  type="password" th:field="*{contraseña}" required>
                    </label>
                </div>

                <!--Boton de ingreso-->

                    <div id="entrar" >

                            <button id="boton" class="btn btn-info text-white shadow">Ingresar</button>

                    </div>
            </div>
            </form>


            <!--Texto inferior-->
            <div id="foot">
                <p id="olvido" class="text-primary ">Si olvido su contraseña, contacte con el administrador.
                </p>
            </div>

       </div>


</body>

</html>