<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/styles/css general/Fondo.css}" rel="stylesheet" >
    <link th:href="@{/styles/recursos/avanzar.ico}"rel="icon" >
    <link th:href="@{/styles/css general/Menu-lateral.css}" rel="stylesheet" >
    <link th:href="@{/styles/css general/Barra-Superior.css}" rel="stylesheet" >
    <link th:href="@{/styles/css general/foote	r.css}"rel="stylesheet" >
    <link rel="stylesheet" th:href="@{/styles/css-registro-usuario/contenido.css}">


</head>

<body>

    <div class="container-fluid">
        <!--Menu lateral izquierdo-->
        <div id="contenedor">

            <div class="menu shadow">

                    <div>
						
                        <a href="#" class="opciones list-group-item list-group-item-action text-center">
                            Consultas </a>

                    </div>
                    
                    <form name="regForm" th:action="@{/registrar}" >
                    <a href="#" class="opciones active list-group-item list-group-item-action text-center ">
                        Registro usuario</a>
                    </form>
                    
                    <form name="regclient" th:action="@{/registrarClientes}">
                    <a href="javascript: document.regclient.submit()" class="opciones list-group-item list-group-item-action text-center">
                        Registro nuevo cliente</a>
                    </form>   
					<form name="actform" th:action="@{/Actualizacion}">
                    <a href="javascript: document.actform.submit()" class="opciones list-group-item list-group-item-action text-center">
                        Actualizaciones</a>
                    </form>    
					
					<form name="pagEps" th:action="@{/paginaEps}">
                    <a href="javascript: document.pagEps.submit()" class="opciones list-group-item list-group-item-action text-center">
                    EPS</a>
					</form>
					
					<form name="pagArl" th:action="@{/paginaArl}">
                    <a id="fondos" href="javascript: document.pagArl.submit()" class="opciones list-group-item list-group-item-action text-center">
                    ARL</a>
					</form>
					
					<form name="pagAfp" th:action="@{/paginaAfp}">
                    <a href="javascript: document.pagAfp.submit()" class="opciones list-group-item list-group-item-action text-center">
                    AFP</a>
					</form>

                    <form name="pagCaja" th:action="@{/paginaCaja}">
                    <a href="javascript: document.pagCaja.submit()" class="opciones list-group-item list-group-item-action text-center">Caja de
                        compensacion</a>
                    </form>
            </div>



            <!--Final del menu lateral-->

            <!--Barra Superior-->

            <div id="barra" class="shadow">
                
                <ul id="lista">
                    <li class="text">
                        <span><b>Bienvenido</b></span>
                    </li>
                    <li class="text1">
                        <span><b>[(${usuarios.rol.tipo_de_rol})]</b></span>
                    </li>
                    <li class="text">
                        <span><b>[(${usuarios.nombres})] [(${usuarios.apellidos})]</b></span>
                    </li>
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem">
                            <form name="logoutForm" th:action="@{/logout}" method="post" >
                                <button class="btn" id="salir" type="button" >Salir</button>
                            </form>
                        </a>
                    </li>
                </ul>

                </nav>
            </div>
         <!--Fin Barra Superior-->
         
            <div id="mens" th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                 th:text="${mensaje}"
                 class="alert text-center">
            </div>
        <!--Contenido-->
            <form th:action="@{/registroUsrNuevo}"  th:object="${usuarios2}" method="post">
            <Div id="contenido">


                <div id="izquierda">

                    <select name="id_rol" class="seleccion form-control shadow" th:field="*{rol.id_rol}" >
                        <option th:value="0" th:text="Seleccione..." th:selected selected></option>
                        <option th:value="1" th:text="Administrador" ></option>
                        <option th:value="2" th:text="Colaborador" ></option>
                      </select> <br>

                    <select name="tipo_de_documento" class="seleccion1 form-control shadow" th:field="*{tipo_de_documento.id_tipo}">
                        <option th:value="0" selected>Seleccione...</option>
                        <option th:value="1" > Cedula de Ciudadania</option>
                        <option th:value="2" >Cedula de Extranjeria</option>
                        <option th:value="3" > Pasaporte</option>
                      </select> <br>

                    <span class="labe">Nombre</span>
                    <span class="labe2">*</span> <br>
                    <input name="nombre" type="text" class="inpt form-control shadow" th:field="*{nombres}"> <br>

                    <span class="labe">Apellidos</span>
                    <span class="labe2">*</span> <br>
                    <input name="apellidos" type="text" class="inpt form-control shadow" th:field="*{apellidos}"> <br>


                    <span class="labe">Numero de documento</span>
                    <span class="labe2">*</span> <br>
                    <input name="numero_de_documento" type="text" class="inpt form-control shadow" th:field="*{numero_de_documento}"> <br>


                </div>



                <div id="derecha">

                    <span class="labe">Telefono</span>
                    <span class="labe2">*</span> <br>
                    <input name="telefono" type="text" class="inpt form-control shadow" th:field="*{telefono}"> <br>

                    <span class="labe">Direccion de residencia</span>
                    <span class="labe2">*</span> <br>
                    <input name="direccion_de_residencia" type="text" class="inpt form-control shadow" th:field="*{direccion_de_residencia}"> <br>

                    <span class="labe">Correo electronico</span>
                    <span class="labe2">*</span> <br>
                    <input name="correo_electronico" type="text" class="inpt form-control shadow" th:field="*{correo_electronico}"> <br>

                    <span class="labe">Nombre de usuario</span>
                    <span class="labe2">*</span> <br>
                    <input name="usuario" type="text" class="inpt form-control shadow" th:field="*{usuario}"> <br>

                    <span class="labe">Clave de usuario</span>
                    <span class="labe2">*</span> <br>
                    <input name="contraseña" type="text" class="inpt form-control shadow" th:field="*{contraseña}"> <br>

                </div>


            </Div>



            <div id="lugar">
                <div id="boton">
                    <button id="guardar" type="submit" class="bg-info shadow">Guardar</button>
                </div>
            </div>

            </form>


       
        <!--Fin contenido-->

        <!--Footer-->

        <div id="footer">

            <div id="caja">
                <span id="fot">© 2020 Copyright </span>
            </div>

        </div>
        <!--Fin Footer-->



    </div>

</body>

</html>