<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/styles/css general/Fondo.css}" rel="stylesheet" >
    <link th:href="@{/styles/recursos/avanzar.ico}"rel="icon" >
    <link th:href="@{/styles/css general/Menu-lateral.css}" rel="stylesheet" >
    <link th:href="@{/styles/css general/Barra-Superior.css}" rel="stylesheet" >
    <link th:href="@{/styles/css general/footer.css}"rel="stylesheet" >
    <link rel="stylesheet" th:href="@{/styles/css-registro-cliente/contenido.css}">


</head>

<body>

    <div class="container-fluid">
        <!--Menu lateral izquierdo-->
        <div id="contenedor">

            <div class="menu shadow">

                    <div>

                        <a href="#" class="opciones list-group-item list-group-item-action text-center">
                            Consultas </a>

                    </div>
                    
                    <form name="regForm" th:action="@{/registrar}" >
                    <a href="javascript: document.regForm.submit()" class="opciones list-group-item list-group-item-action text-center ">
                        Registro usuario</a>
                    </form>
                    
                    <form name="regclient" th:action="@{/registrarClientes}">
                    <a href="#" class="opciones active list-group-item list-group-item-action text-center">
                        Registro nuevo cliente</a>
                    </form>   
					<form name="actform" th:action="@{/Actualizacion}">
                    <a href="javascript: document.actform.submit()" class="opciones list-group-item list-group-item-action text-center">
                        Actualizaciones</a>
                    </form>    
					
					<form name="pagEps" th:action="@{/paginaEps}">
                    <a href="javascript: document.pagEps.submit()" class="opciones list-group-item list-group-item-action text-center">
                    EPS</a>
					</form>
					
					<form name="pagArl" th:action="@{/paginaArl}">
                    <a id="fondos" href="javascript: document.pagArl.submit()" class="opciones list-group-item list-group-item-action text-center">
                    ARL</a>
					</form>
					
					<form name="pagAfp" th:action="@{/paginaAfp}">
                    <a href="javascript: document.pagAfp.submit()" class="opciones list-group-item list-group-item-action text-center">
                    AFP</a>
					</form>

                    <form name="pagCaja" th:action="@{/paginaCaja}">
                    <a href="javascript: document.pagCaja.submit()" class="opciones list-group-item list-group-item-action text-center">Caja de
                        compensacion</a>
                    </form>
            </div>



            <!--Final del menu lateral-->

            <!--Barra Superior-->

           <div id="barra" class="shadow">
                
                <ul id="lista">
                    <li class="text">
                        <span><b>Bienvenido</b></span>
                    </li>
                    <li class="text1">
                        <span><b>[(${rol.tipo_de_rol})]</b></span>
                    </li>
                    <li class="text">
                        <span><b>[(${usuarios.nombres})] [(${usuarios.apellidos})]</b></span>
                    </li>
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem">
                            <form name="logoutForm" th:action="@{/logout}" method="post" >
                                <button class="btn" id="salir" type="button" >Salir</button>
                            </form>
                        </a>
                    </li>
                </ul>

                </nav>
            </div>

            <div id="mens" th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                 th:text="${mensaje}"
                 class="alert text-center">
            </div>
        

        <!--Contenido-->
       
        <form th:action="@{/registroClienteNuevo}"  th:object="${clientes}" method="post">
            <Div id="contenido">

                <div id="izquierda">
                    
                    <span class="labe">Numero de documento</span>
                    <span class="labe2">*</span> <br>
                    <input  name="numero_de_documento" type="text" class="inpt form-control shadow" th:field="*{numero_de_documento}"> <br>

                    <span class="labe">Lugar de expedicion</span>
                    <span class="labe2">*</span> <br>
                    <input th:field="*{lugar_de_expedicion}" name="lugar_de_expedicion" type="text" class="inpt form-control shadow" > <br>

                    <span class="labe">Nombre</span>
                    <span class="labe2">*</span> <br>
                    <input th:field="*{nombres}" name="nombre" type="text" class="inpt form-control shadow" > <br>

                    <span class="labe">Apellidos</span>
                    <span class="labe2">*</span> <br>
                    <input th:field="*{apellidos}" name="apellidos" type="text" class="inpt form-control shadow"> <br>

                    <span class="labe">Telefono</span>
                    <span class="labe2">*</span> <br>
                    <input th:field="*{telefono}" name="telefono" type="text" class="inpt1 form-control shadow" > <br>

                    <span class="labe">Direccion de residencia</span>
                    <span class="labe2">*</span> <br>
                    <input th:field="*{direccion_de_residencia}"  name="direccion_de_residencia" type="text" class="inpt1 form-control shadow"> <br>
                    
                    <span class="labe">Correo electronico</span>
                    <span class="labe2">*</span> <br>
                    <input th:field="*{correo_electronico}"  name="correo_electronico" type="text" class="inpt1 form-control shadow"> <br>
                </div>

                <div id="derecha">
						
					<span class="labe">Tipo de documento</span> 
						<select th:field="*{tipo_de_documento.id_tipo}" name="tipo_de_documento" class="seleccion form-control shadow">
                        <option th:value="0" selected>Seleccione...</option>
                        <option th:value="1">Cedula de ciudadania</option>
                        <option th:value="2">Extranjeria</option>
                        <option th:value="3">Pasaporte</option>
                        <option th:value="4">Tarjeta de identidad</option>
                    </select> <br>
	

                    <span class="labe">Tipo de plan</span>
                    <span class="labe2">*</span> <br>
                    <select th:field="*{planes.id_plan}" name="id_plan" class="seleccion form-control shadow">
                        <option th:value="0" selected>Seleccionar</option>
                        <option th:value="1">Vital (EPS, ARL)</option>
                        <option th:value="2">Basico (Eps, ARL, CAJA COMPENSACION)</option>
                        <option th:value="3">Complementario (EPS, ARL, PENSION)</option>
                        <option th:value="4">Integral (EPS, ARL, CAJA COMPENSACION, PENSION)</option>
                        <option th:value="5">Solo ARL</option>
                    </select> <br>

                    <span class="labe">EPS</span>
                    <select th:field="*{eps.id_eps}" name="id_eps" class="seleccion form-control shadow" >
                        <option th:value="0" selected>Seleccionar</option>
                        <option th:value="1">No Aplica</option>
                        <option th:value="2">Compensar</option>
                        <option th:value="3">Eps Sura</option>
                        <option th:value="4">Cafam Eps</option>
                        <option th:value="5">Saludcoop</option>
                        <option th:value="6">Sanitas</option>
                        <option th:value="7">EPS Colsubsidio</option>
                        <option th:value="8">Cafesalud E.P.S. S.A.	</option>
                        <option th:value="9">Salud Colmena E.P.S. S.A.	</option>
                        <option th:value="10">Coomeva E.P.S.</option>
                        <option th:value="11">Cruz Blanca E.P.S. </option>
                    </select> <br>

                    <span class="labe">ARL</span>
                    <select th:field="*{arl.id_arl}" name="id_arl" class="seleccion form-control shadow" >
                        <option th:value="0" selected>Seleccionar</option>
                        <option th:value="1">No aplica</option>
                        <option th:value="2">Positiva</option>
                        <option th:value="3">Axa Colpatria</option>
                        <option th:value="4">La Equidad</option>
                        <option th:value="5">Sura</option>
                        <option th:value="6">Colmena</option>
                        <option th:value="7">Seguro Bolivar</option>
                        <option th:value="8">Mapfre</option>

                    </select> <br>


                    <span class="labe">AFP</span>
                    <select th:field="*{afp.id_afp}" name="id_afp" class="seleccion form-control shadow" >
                        <option th:value="0" selected>Seleccionar</option>
                        <option th:value="1">No aplica</option>
                        <option th:value="2">Colfondos</option>
                        <option th:value="3">porvenir</option>
                        <option th:value="4">Skandia</option>
                        <option th:value="5">Proteccion</option>
                        <option th:value="5">Colpensiones</option>
                    </select> <br>

                    <span class="labe">Caja de compensacion</span>
                    <select th:field="*{caja.id_caja}" name="id_caja" class="seleccion form-control shadow" >
                        <option th:value="0" selected>Seleccionar</option>
                        <option th:value="1">No aplica</option>
                        <option th:value="2">Cafam</option>
                        <option th:value="3">Compensar</option>
                        <option th:value="4">Colsubsidio</option>
                        <option th:value="5">Asocajas</option>
                        <option th:value="6">Comfamiliar Camacol</option>
                    </select> <br>




                </div>

            </Div>
            
			<div id="boton">
                <div id="botonder">
                    <button id="reinicio" type="submit" class="bg-info shadow">Guardar</button>
                </div>
                
           

            </div>
        </form>
        <!--Fin contenido-->

        <!--Footer-->

        <div id="footer">

            <div id="caja">
                <span id="fot">© 2020 Copyright </span>
            </div>

        </div>
        <!--Fin Footer-->



    </div>

</body>

</html>