#bienvenido {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    
}
#text{
  font-size: 20px;
}

@media (max-width: 576px){
    #bienvenido{
      width: 100%; 
      height: 50px;  
      padding-top: 10px;
      padding-left: 20px;     
    }      
    #text{
      font-size: 15px;
      display: block;
      margin: auto;
    }
    
}


    
