/* Inputs y Span */

#inputs {
    width: 42em;
    display: block;
    margin: auto;
}

#span {
    width: 10em;
}

#input {
    width: 30em;
    border: 1px solid gainsboro;
    text-align: center;
}


/*Fin Inputs y Span */


/* checkbox */

#check {
    width: 1em;
    height: 1em;
    margin-top: 2em;
}

#recordarme {
    font-size: 20px;
    margin-left: 25px;
    margin-top: -30px;
}

#checkR {
    width: 10em;
    display: block;
    margin: auto;
}


/* fin checkbox */


/* Boton de ingreso */

#entrar {
    width: 16em;
    display: block;
    margin: auto;
    margin-top: 3em;
}

#boton {
    width: 16em;
}


/* Fin boton de ingreso */


/* Footer */

#foot {
    width: 30em;
    display: block;
    margin: auto;
    margin-top: 3em;
}

#olvido {
    font-size: 18px;
    text-align: center;
    margin-top: -23px;
}


/* Fin footer */

@media (max-width: 576px) {
    #span {
        width: 15em;
        height: 2em;
        margin-top: 20px;
    }
    #input {
        width: 15em;
        border: 1px solid gainsboro;
        margin-top: 1em;
    }
    #inputs {
        width: 15em;
        display: block;
        margin: auto;
    }
    #check {
        width: 1em;
        height: 1em;
        margin-top: 1em;
    }
    #recordarme {
        font-size: 17px;
        margin-left: 25px;
        margin-top: -27px;
    }
    #checkR {
        width: 7em;
        display: block;
        margin: auto;
    }
    #entrar {
        width: 8em;
        display: block;
        margin: auto;
        margin-top: 1em;
    }
    #boton {
        width: 8em;
    }
    #foot {
        width: 13em;
        display: block;
        margin: auto;
    }
    #olvido {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
}