body{
    margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 576px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;}
}
@media (max-width: 720px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: 555px;
    width: 100%;
    background-repeat: no-repeat;}
}
@media (max-width: 992px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: 555px;
    width: 100%;
    background-repeat: no-repeat;}
}
@media (max-width: 1200px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: cover;
    width: 100%;
    background-repeat: no-repeat;}
}

@media (max-height: 864px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;}
}

@media (max-height: 1085px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: 1085px;
    width: 100%;
    background-repeat: no-repeat;}
}
