#contenido {
    width: 73.5%;
    height: 440px;
    position: absolute;
    top: 14%;
    left: 23.5%;
}

#inputs {
    width: 80%;
    height: 90%;
    display: block;
    margin: auto;
    margin-top: 2%;
}

.input {
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 6%;
    text-align: center;
}

.consulta {
    font-size: 18px;
}

.inp {
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
}

.boton {
    width: 150px;
    background-color: blue;
    color: white;
    margin-top: 2%;
}

.boton:hover {
    color: #0cccf4;
    background-color: white;
}

@media (min-width:0px) and (max-width: 576px) {
    #contenido {
        width: 68.2%;
        height: 400px;
        position: absolute;
        top: 13.5%;
        left: 29%;
    }
    #inputs {
        width: 95%;
        height: 95%;
        display: block;
        margin: auto;
        margin-top: 2%;
    }
    .input {
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 20%;
        text-align: center;
    }
    .consulta {
        font-size: 13px;
    }
    .inp {
        font-size: 13px;
        width: 220px;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 5%;
        text-align: center;
    }
    .boton {
        width: 100px;
        background-color: blue;
        color: white;
        margin-top: 2%;
        font-size: 13px;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    #contenido {
        width: 68.2%;
        height: 400px;
        position: absolute;
        top: 13.5%;
        left: 29%;
    }
    #inputs {
        width: 95%;
        height: 95%;
        display: block;
        margin: auto;
        margin-top: 2%;
    }
    .input {
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 10%;
        text-align: center;
    }
    .consulta {
        font-size: 16px;
    }
    .inp {
        font-size: 16px;
        width: 400px;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 5%;
        text-align: center;
    }
    .boton {
        width: 150px;
        background-color: blue;
        color: white;
        margin-top: 2%;
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #contenido {
        width: 71%;
        height: 400px;
        position: absolute;
        top: 13%;
        left: 27.8%;
    }
    #inputs {
        width: 95%;
        height: 95%;
        display: block;
        margin: auto;
        margin-top: 1%;
    }
    .input {
        width: 90%;
        display: block;
        margin: auto;
        margin-top: 5%;
        text-align: center;
    }
    .consulta {
        font-size: 18px;
    }
    .inp {
        font-size: 18px;
        width: 400px;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-left: 18%;
        text-align: center;
    }
    .boton {
        width: 150px;
        background-color: blue;
        color: white;
        margin-top: 2%;
        font-size: 18px;
    }
}