#contenido {
    width: 73.7%;
    height: 400px;
    position: absolute;
    top: 14%;
    left: 23.5%;
    display: inline-flex;
    overflow: scroll;
    overflow-x: hidden;
}

#mens{
	position: absolute;
	width: 15%;
	height: 52px;
	left: 51%;
	top: 12.5%;
	font-size: 15px;
	font-weight: 600;
	

	
}

#izquierda {
    width: 45%;
    display: block;
    margin: auto;
    padding-top: 3%;
    padding-left: 7.5%;
}

#derecha {
    width: 45%;
    display: block;
    margin: auto;
    padding-top: 3%;
    padding-left: 7.5%;
}

.labe {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.labe1 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;
}

.labe2 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.inpt {
    margin-top: 2%;
    width: 80%;
}

.inpt1 {
    margin-top: 2%;
    margin-bottom: 9px;
    width: 80%;
}

.seleccion {
    width: 80%;
    height: 40px;
    margin-bottom: 2%;
    font-size: 18px;
}

#reinicio {
    width: 140px;
    height: 40px;
    font-size: 17;
    border: none;
    color: white;
}

#boton {
    display: inline-flex;
    width: 73.7%;
    position: absolute;
    top: 77%;
    left: 23.5%;
}


#botonder {
    width: 145px;
    margin-top: 1%;
    display: block;
    margin: auto;
}

@media (min-width:0px) and (max-width: 576px) {
    #contenido {
        width: 68%;
        height: 400px;
        position: absolute;
        top: 14%;
        left: 29.2%;
        display: inline-flex;
        overflow: scroll;
        overflow-x: hidden;
    }
    #izquierda {
        width: 50%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 6%;
    }
    #derecha {
        width: 50%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 6%;
    }
    .labe {
        font-size: 11px;
        font-family: 'Times New Roman', Times, serif;
    }
    .labe1 {
        font-size: 11px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 3%;
    }
    .labe2 {
        font-size: 11px;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
    .inpt {
        margin-top: 2%;
        width: 80%;
        height: 25px;
    }
    .inpt1 {
        width: 80%;
        height: 25px;
    }
    .check {
        margin-top: 3%;
        width: 25px;
        height: 20px;
    }
    #checkbox {
        display: inline-flex;
        width: 100%;
        height: 54px;
    }
    .seleccion {
        width: 80%;
        height: 25px;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 11px;
    }
    #reinicio {
        width: 80px;
        height: 23px;
        font-size: 12px;
        border: none;
        color: white;
    }
    #botones {
        display: inline-flex;
        width: 68%;
        position: absolute;
        top: 85%;
        left: 29.2%;
    }
    #botonizq {
        width: 85px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 85px;
        display: block;
        margin: auto;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    #contenido {
        width: 70.5%;
        height: 320px;
        position: absolute;
        top: 15%;
        left: 28%;
        display: inline-flex;
        overflow: scroll;
        overflow-x: hidden;
    }
    #izquierda {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    #derecha {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    .labe {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    .labe1 {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 3%;
    }
    .labe2 {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
    .inpt {
        margin-top: 2%;
        width: 80%;
        height: 30px;
    }
    .inpt1 {
        width: 80%;
        height: 30px;
        margin-bottom: 2%;
    }
    .check {
        margin-top: 3%;
        width: 20px;
        height: 20px;
    }
    #checkbox {
        display: inline-flex;
        width: 100%;
        height: 63px;
    }
    .seleccion {
        width: 80%;
        height: 30px;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 15px;
    }
    #reinicio {
        width: 130px;
        height: 30px;
        font-size: 15px;
        border: none;
        color: white;
    }
    #botones {
        display: inline-flex;
        width: 68%;
        position: absolute;
        top: 80%;
        left: 29.2%;
    }
    #botonizq {
        width: 130px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 130px;
        display: block;
        margin: auto;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    #contenido {
        width: 70.5%;
        height: 340px;
        position: absolute;
        top: 14%;
        left: 28%;
        display: inline-flex;
        overflow: scroll;
        overflow-x: hidden;
    }
    #izquierda {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    #derecha {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    .labe {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    .labe1 {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 3%;
    }
    .labe2 {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
    .inpt {
        margin-top: 2%;
        width: 80%;
        height: 30px;
    }
    .inpt1 {
        width: 80%;
        height: 30px;
        margin-bottom: 2%;
    }
    .check {
        margin-top: 3%;
        width: 20px;
        height: 20px;
    }
    #checkbox {
        display: inline-flex;
        width: 100%;
        height: 63px;
    }
    .seleccion {
        width: 80%;
        height: 30px;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 15px;
    }
    #reinicio {
        width: 130px;
        height: 30px;
        font-size: 15px;
        border: none;
        color: white;
    }
    #botones {
        display: inline-flex;
        width: 68%;
        position: absolute;
        top: 80%;
        left: 29.2%;
    }
    #botonizq {
        width: 130px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 130px;
        display: block;
        margin: auto;
    }
}