#contenedor {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.menu {
    width: 20%;
    height: 625px;
    position: relative;
}

.opciones {
    background-color: #0cccf4;
    color: white;
    padding-top: 8%;
    height: 77.5px;
    display: block;
    float: right;
    font-size: 19px;
    font-weight: bold;
    flex-direction: column;
}

.opciones:hover {
    cursor: pointer;
    background-color: white;
    color: #0cccf4;
}

@media (min-width:0px) and (max-width: 576px) {
    .menu {
        width: 25%;
        height: 60px;
        position: relative;
    }
    .opciones {
        background-color: #0cccf4;
        color: white;
        height: 69px;
        padding-top: 20%;
        display: block;
        margin: 0%;
        font-size: 10px;
        font-weight: bold;
        flex-direction: column;
    }
    .opciones1 {
        background-color: rgb(255, 255, 255);
        color: #0cccf4;
        height: 68px;
        padding-top: 28%;
        display: block;
        margin: 0%;
        font-size: 10px;
        font-weight: bold;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    .menu {
        width: 25%;
        height: 60px;
        position: relative;
    }
    .opciones {
        background-color: #0cccf4;
        color: white;
        height: 69px;
        padding-top: 15%;
        display: block;
        margin: 0%;
        font-size: 13px;
        font-weight: bold;
        flex-direction: column;
    }
    .opciones1 {
        background-color: rgb(255, 255, 255);
        color: #0cccf4;
        height: 68px;
        padding-top: 15%;
        display: block;
        margin: 0%;
        font-size: 13px;
        font-weight: bold;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .menu {
        width: 25%;
        height: 60px;
        position: relative;
    }
    .opciones {
        background-color: #0cccf4;
        color: white;
        height: 69px;
        padding-top: 8%;
        display: block;
        margin: 0%;
        font-size: 15px;
        font-weight: bold;
        flex-direction: column;
    }
    .opciones1 {
        background-color: rgb(255, 255, 255);
        color: #0cccf4;
        height: 68px;
        padding-top: 8%;
        display: block;
        margin: 0%;
        font-size: 15px;
        font-weight: bold;
    }
}