#contenido {
    width: 73.7%;
    height: 415px;
    position: absolute;
    top: 14%;
    left: 23.5%;
    display: inline-flex;
    overflow: scroll;
    overflow-x: hidden;
}

#mens{
	position: absolute;
	width: 15%;
	height: 52px;
	left: 51%;
	top: 12.5%;
	font-size: 15px;
	font-weight: 600;
	

	
}	
#izquierda {
    width: 45%;
    display: block;
    margin: auto;
    padding-top: 2.5%;
    padding-left: 7.5%;
}

#derecha {
    width: 45%;
    display: block;
    margin: auto;
    padding-top: 3%;
    padding-left: 7.5%;
}

.labe {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    ;
}

.labe2 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.inpt {
    margin-top: 2%;
    width: 80%;
}

.seleccion {
    width: 80%;
    height: 40px;
    margin-top: 9.5%;
    margin-bottom: 2%;
    font-size: 18px;
}

.seleccion1 {
    width: 80%;
    height: 40px;
    margin-top: 6%;
    margin-bottom: 2%;
    font-size: 18px;
}

#guardar {
    width: 140px;
    height: 35px;
    font-size: 17;
    border: none;
    color: white;
}

#lugar {
    width: 73.7%;
    position: absolute;
    top: 77%;
    left: 23.5%;
    
}

#boton {
    width: 145px;
    display: block;
    margin: auto;
}

@media (min-width:0px) and (max-width: 576px) {
    #contenido {
        width: 68%;
        height: 400px;
        position: absolute;
        top: 11%;
        left: 29.2%;
        display: inline-flex;
        overflow: scroll;
        overflow-x: hidden;
    }
    #izquierda {
        width: 50%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 6%;
    }
    #derecha {
        width: 50%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 6%;
    }
    .labe {
        font-size: 11px;
        font-family: 'Times New Roman', Times, serif;
    }
    .labe2 {
        font-size: 11px;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
    .inpt {
        margin-top: 2%;
        width: 80%;
        height: 25px;
    }
    .seleccion {
        width: 80%;
        height: 28px;
        font-size: 11px;
    }
    #reinicio {
        width: 60px;
        height: 20px;
        font-size: 11px;
        border: none;
        color: white;
    }
    #botones {
        display: inline-flex;
        width: 68%;
        position: absolute;
        top: 80%;
        left: 29.2%;
    }
    #botonizq {
        width: 62px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 62px;
        display: block;
        margin: auto;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    #contenido {
        width: 70.5%;
        height: 320px;
        position: absolute;
        top: 16%;
        left: 28%;
        display: inline-flex;
        overflow: scroll;
        overflow-x: hidden;
    }
    #izquierda {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    #derecha {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    .labe {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }
    .labe2 {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
    .inpt {
        margin-top: 1%;
        width: 80%;
        height: 30px;
    }
    .seleccion {
        width: 80%;
        height: 35px;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 15px;
    }
    #reinicio {
        width: 110px;
        height: 24px;
        font-size: 15px;
        border: none;
        color: white;
    }
    #botones {
        display: inline-flex;
        width: 70.5%;
        position: absolute;
        top: 78%;
        left: 28%;
    }
    #botonizq {
        width: 110px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 110px;
        display: block;
        margin: auto;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    #contenido {
        width: 70.5%;
        height: 340px;
        position: absolute;
        top: 14%;
        left: 28%;
        display: inline-flex;
        overflow: scroll;
        overflow-x: hidden;
    }
    #izquierda {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    #derecha {
        width: 45%;
        display: block;
        margin: auto;
        padding-top: 3%;
        padding-left: 7.5%;
    }
    .labe {
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }
    .labe2 {
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        color: red;
    }
    .inpt {
        margin-top: 1%;
        width: 80%;
        height: 34px;
    }
    .seleccion {
        width: 80%;
        height: 35px;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 15px;
    }
    #reinicio {
        width: 110px;
        height: 30px;
        font-size: 16x;
        border: none;
        color: white;
    }
    #botones {
        display: inline-flex;
        width: 70.5%;
        position: absolute;
        top: 78%;
        left: 28%;
    }
    #botonizq {
        width: 110px;
        display: block;
        margin: auto;
    }
    #botonder {
        width: 110px;
        display: block;
        margin: auto;
    }
}