#contenido {
    width: 73.5%;
    height: 440px;
    position: absolute;
    top: 14%;
    left: 23.5%;
}

#datos {
    width: 100%;
    height: 360px;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
}

#datosh {
    width: 100%;
    display: inline-flex;
}

.spa {
    margin-top: 2%;
    margin-left: 10%;
    width: 20%;
    background-color: #0cccf4;
    color: white;
}

.texto {
    width: 51%;
    height: 30px;
    margin-top: 2%;
    margin-left: 6%;
}

#exportar {
    width: 100%;
    height: 68px;
}

#export {
    width: 40%;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 2.5%;
    color: #0cccf4;
    padding-left: 1%;
}

.icons {
    margin-left: 5%;
    width: 30px;
    height: 30px;
}

@media (min-width:0px) and (max-width: 576px) {
    #contenido {
        width: 68%;
        height: 400px;
        position: absolute;
        top: 14%;
        left: 29.2%;
    }
    #datos {
        width: 100%;
        height: 330px;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 30px;
    }
    #datosh {
        width: 100%;
        display: inline-flex;
    }
    .spa {
        margin-top: 2%;
        margin-left: 5%;
        width: 35%;
        background-color: #0cccf4;
        color: white;
        font-size: 10px;
    }
    .texto {
        width: 51%;
        height: 30px;
        margin-top: 2%;
        margin-left: 5%;
    }
    #exportar {
        width: 100%;
        height: 68px;
    }
    #export {
        width: 90%;
        height: 40px;
        display: block;
        margin: auto;
        margin-top: 5%;
        color: #0cccf4;
        font-size: 10px;
        padding-left: 1%;
    }
    .icons {
        margin-left: 5%;
        width: 20px;
        height: 20px;
    }
}

@media (min-width:577px) and (max-width: 768px) {
    #contenido {
        width: 70.5%;
        height: 415px;
        position: absolute;
        top: 14%;
        left: 28%;
    }
    #datos {
        width: 100%;
        height: 345px;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 30px;
    }
    #datosh {
        width: 100%;
        display: inline-flex;
    }
    .spa {
        margin-top: 2%;
        margin-left: 7%;
        width: 30%;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    .texto {
        width: 54%;
        height: 30px;
        margin-top: 2%;
        margin-left: 5%;
    }
    #exportar {
        width: 100%;
        height: 68px;
    }
    #export {
        width: 70%;
        height: 40px;
        display: block;
        margin: auto;
        margin-top: 5%;
        color: #0cccf4;
        font-size: 15px;
        padding-left: 1%;
    }
    .icons {
        margin-left: 5%;
        width: 25px;
        height: 25px;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    #contenido {
        width: 71%;
        height: 415px;
        position: absolute;
        top: 14%;
        left: 27.8%;
    }
    #datos {
        width: 100%;
        height: 344px;
        overflow: scroll;
        overflow-x: hidden;
        padding-bottom: 30px;
    }
    #datosh {
        width: 100%;
        display: inline-flex;
    }
    .spa {
        margin-top: 2%;
        margin-left: 7%;
        width: 30%;
        background-color: #0cccf4;
        color: white;
        font-size: 15px;
    }
    .texto {
        width: 54%;
        height: 30px;
        margin-top: 2%;
        margin-left: 5%;
    }
    #exportar {
        width: 100%;
        height: 68px;
    }
    #export {
        width: 55%;
        height: 40px;
        display: block;
        margin: auto;
        margin-top: 3%;
        color: #0cccf4;
        padding-left: 1%;
    }
    .icons {
        margin-left: 5%;
        width: 30px;
        height: 30px;
    }
}