/* Inputs y Span */

#inputs {
    width: 42em;
    
    display: block;
    margin: auto;
}

#span {
    width: 10em;
}

#input {
    width: 30em;
    height: 40px;
    border: 1px solid gainsboro;
    text-align: center;
}


/*Fin Inputs y Span */

/* Boton de ingreso */

#entrar {
    width: 16em;
    display: block;
    margin: auto;
    margin-top: 3em;
}

#boton {
    width: 16em;
}


/* Fin boton de ingreso */


/* Footer */

#foot {
    width: 30em;
    display: block;
    margin: auto;
    margin-top: 3em;
}

#olvido {
    font-size: 18px;
    text-align: center;
    margin-top: -23px;
}


/* Fin footer */

@media (max-width: 570px) {
    #span {
        width: 400px;
        height: 30px;
        margin-top: 20px;
        font-size: 15px ;      
    }
    #input {
        width: 217px;
        height: 30px;
        border: 1px solid gainsboro;
        margin-top: 1em;
    }
    #inputs {
        width: 15em;
        display: block;
        margin: auto;
}
    #entrar {
        width: 100px;
        display: block;
        margin: auto;
        margin-top: 1em;
    }
    #boton {
		height:40px;
        width: 100px;
        font-size: 15px;
    }
    #foot {
        width: 13em;
        display: block;
        margin: auto;
    }
    #olvido {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
}
 
	

}

@media (min-width:1440px) and (max-width: 2559px){
	

	
	#span {
		margin-left: 26%;
        width: 160px;
        height: 55px;
        margin-top: 30px;
           font-size: 18px;
    }
    #input {
		height: 55px;
        width: 450px;
        border: 1px solid gainsboro;
        margin-top:30px;
        font-size: 25px;
    }
    #inputs {
		width: 100em;
		height: 15em;
        display: block;
        margin: auto;
    }
  
    #entrar {
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 40px;
    }
    #boton {
        width: 250px;
        height: 55px;
        margin-left: 20%;
    }
    #foot {
        width: 400px;
        display: block;
        margin: auto;
    }
    #olvido {
        font-size: 20px;
        text-align: center;
        margin-top: 70px;
        margin-left: 70px;
    }
}
	
	}