#logo{
    width: 13em;
    height: 9em;
    
}
#logoU{
    
    width: 13em;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 576px)  { 

    #logo{
        width: 10em;
        height: 6em;
    }
    #logoU{
        width: 10em;
        display: block;
        margin: auto;
        margin-top: 30px;
    }
}


@media (max-height: 864px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;}
}

@media (min-width:1439px) and (max-height: 2559px){
    body{ margin: 0%;
    padding: 0%;
    background-image: url(../recursos/25101.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;}
    
#logo{
    width: 16em;
    height: 12em;
    margin-top: 40%;
    
}
#logoU{
    
    width: 13em;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
}



